body{
    font-family: 'Poppins', sans-serif;
    
}

.active{
    color:#6c63ff !important;
}
.nav-link{
    font-size: 18px;
    color: black;

}

.nav-link:hover{
    color: #6c63ff;
}

.mycolor{
    color: #6c63ff;
    font-weight: 700;
    font-size: 24px;
    line-height: 2;
}
.myfull_story{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    background: #6c63ff;
    color: white;
    padding: 10px 36px 10px 36px;
    border: 1px solid #6c63ff;
    border-radius: 29px;
    text-align: center;
    box-shadow: 0px 5px 15px 0px rgb(8 0 140 / 19%);
}

.banner_text{
    line-height: 1.2;
    font-size: 43px; 
    font-weight:700
}
.banner_subtitle{
    line-height: 1.4;
    font-size: 17px;
    font-weight: 400;
    color: #666666;

}
.myfull_story:hover{
    border: 1px solid #6c63ff;
    color: #6c63ff;
    background-color: white;
}
.myimg_banner{
    margin-top: -62px;
}

.about_text{
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
}

.about_subtitle{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    color: #666666;
    word-wrap: break-word;
    word-break: break-all;
}
.about_img{
    margin-left: -141px;
    height: 441.5px;
    width: 585px;
    margin-top: -29px;
}

.about_link{
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
}


.about_link:hover{
    color: black;
}

.about_line{
    width: 130px;
    color: #6c63ff;
}

.service_img{
    background-color: #f3f9fb;
    border-radius: 50%;
    width: 450px;
    height: 450px;
}

.service_subtitle{
    font-size: 21px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 15px;
}
.mylist_icons{
    padding: 15px;
    background-color: #6c63ff;
    color: white;
    border-radius: 50%;
    line-height: 60px;
    font-size: 21px;
    width: 60px;
    height: 60px;
}

.service_text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #666666;
}

.check_icon{
    width: 30px;
    height: 30px;
    color:  #6c63ff;
}

.why_us_img{
    width: 600px;
    height: 467px;
    margin-left: -60px;
    margin-top: -46px;
}
}